@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Karma:wght@300;400;500;600;700&display=swap);
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #00255C; 
    position: relative;
}
.title{
    text-align: center;
    padding: 3%;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 73px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
/*-----Box do formulário-----*/
.input-group{
    background-color: #ffffff;
    margin: auto;
    border-radius: 20px;
    width: 80%;
    font-family: 'Karma', serif;
}
/*-----formulário------*/
.inputBox {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.1rem;
    gap: 1rem;
    align-items: center;
}
.table{
    box-sizing: 100%;
    width: 100%;
    border: none;
    padding: 1rem;
    max-height: 30vh;
    overflow-x: auto;
    overflow-y: auto;
}
.table{
    overflow-y: scroll;
    padding: 0.5em;
    margin-left: 1em;
}
.thead{
    background-color: #8383835d;
    margin: 0.5rem;
}

.qnt{
    width: 1%;
}
.descricao{
    width: 10%;
}
.unit{
    width: 2%;
}
.result{
    width: 2%;
}
input{
    margin: 0rem 0;
    padding: 0.1rem 0.1rem;

    width: 100%;
}
.input-group {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    flex-direction: column;
    justify-content: center;
}
.inputBox input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border-radius: 10px;
    box-shadow: 1px 1px 0px #000000;
    font-size: 0.8rem;
}
.inputUser{
    width: 90%;
    border-radius: 0.5rem;
    font-size: 1rem;;
}
/*-----botões-----*/
.btn{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 30rem;
    padding: 2%;
    margin-top: 6.37%;
}
.advance-btn,
.back-btn{
    background-color: #ffffff;
    width: 10rem;
    height: 5rem;
    border-style:solid;
    border-color: #00255C;
    border-radius: 1.5rem;
    cursor: pointer;   
}
.img-btn{
    width: 4rem;
}
/*-----resoonsivo-----*/
@media only screen and (max-width: 1440px) {
    .title{
        font-size: 3rem;
    }
    .input-group{
        padding: 1rem 1rem;
    }
    .inputBox{
        margin-bottom: 0rem;
        gap: 1rem;
    }
    .check{
        margin-left: 10.9rem;;
    }
    .btn{
        padding: 1%;
    }
}