@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Inter, sans-serif;
}
body{
    background-color: #00255C;
    position: relative;
}
.main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 15%;
    text-decoration: none;
}
/*-----botões-----*/
.main-button{
    color: #00255C;
    font-weight: 700;
    font-size: 1.5rem;
    background-color: #ffffff;
    width: 20rem;
    height: 7rem;
    border-style:solid;
    letter-spacing: 0.3em;
    border-color: #00255C;
    border-radius: 25px;
    cursor: pointer;
}
.main-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5rem;
}
.main-button-img{
    padding: 0.3rem;
}
/*-----resoonsivo-----*/
@media only screen and (max-width: 1024px) {
    .main{
        padding: 25%;
    }
}
@media only screen and (max-width: 768px) {
    .main{
        padding: 35%;
    }
}
@media only screen and (max-width: 425px) {
    .main{
        padding: 50%;
        gap: 1.5rem;
    }
}
@media only screen and (max-width: 320px) {
    .main{
        padding: 50%;
    }
    .main-button{
        font-size: 1.2rem;
        width: 18rem;
    }
}